.head {
    background-color: rgb(121, 244, 83);
    padding: 15px;
    margin-top: 0px;
    font-size: 2.0em;

    border-bottom: 3px solid black;
}

.list2 {
    border: 1px solid rgb(44, 44, 44);
    padding: 5px;
    display: flex;
    align-items: flex-start;
    padding-left: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 120%;
    color: blue;
    width: 200px;
}

#cg {
    background-color: rgb(33, 13, 251);
    font-size: 1.8em;
    margin-top: 15px;
    width: 54.5%;
    padding-left: 45%;
    border: 1px solid black;
    color: rgb(253, 253, 253);

}

.list {
    list-style-type: none;
    border: 5px solid gray;
    border-radius: 10px;
    text-align: center;
    padding: 0;

}

.list li {

    /* padding: 5px; */
    width: 97.3vw;
}

.list1 {
    list-style-type: none;
    /* border: 2px solid grey; */
    margin-left: 140px;
    display: flex;
    flex-direction: row;


}

.list12 {
    list-style-type: none;
    /* border: 2px solid grey; */
    margin-left: 140px;
    display: flex;
    flex-direction: row;


}

.list3 {
    margin-top: 20px;
}

.list1 li {
    border: 1px solid rgb(44, 44, 44);
    padding: 5px;
    width: 240px;

}

.list12 li {
    border: 1px solid rgb(44, 44, 44);
    padding: 5px;
    width: 240px;
    background-color: rgb(213, 213, 253);
}

.list5 {
    background-color: rgb(28, 255, 12);
    font-size: 1.2em;
    font-weight: 500;
}

.btn {
    background-color: rgb(59, 129, 251);
    color: white;
    border-radius: 30px;
    padding: 6px;
    border: 0px;
    margin-left: 20px;
        font-size: 1.1em;
        width: 10vw;
        height: 45px;
}

.btn:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(59, 129, 251);
    color: rgb(59, 129, 251);
    box-sizing: border-box;
    cursor: pointer;
    
}

.inp {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(59, 129, 251);
    width: 15vw;
    font-size: 1.2em;
    margin-top: 20px;
}

.inp:focus {
    border: 1px solid green;
}

.list6 {
    list-style-type: none;
    display: flex;
    width: 70%;
    padding: 0px;
}

.li1 {
    color: black;
}


#st {
    background-color: rgb(79, 62, 255);
    font-size: 1.8em;

    width: 54.5%;
    padding-left: 45%;
    border: 1px solid black;
    color: white;

}

.img {
    height: 150px;
    margin-left: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
}

@media print {

    .head,
    .inp,
    .btn {
        visibility: hidden;
    }

    .list {
        margin-top: -140px;

    }

    .list1,
    .list12 {
        margin-left: -28px;
    }

    #cg,
    #st {
        color: blue;
    }

    .list2 {
        width: 200px;
    }
}